<div class="login-form">
  <div class="container-fluid flex">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6">
        <div class="card p-4">
          <div class="card-body">
            <div class="text-center mb-4">
              <%= image_tag("logo.svg", width: 200, class: "logo") %>
              <h1 class="h3 mb-3 font-weight-normal">Employee Login</h1>
            </div>

            <%= form_for(:user, url: login_path, method: :post) do |f| %>
              <div class="form-label-group mb-3">
                <%= f.label :username %>
                <%= f.text_field :username, class: "form-control form-control-lg", placeholder: "Username", required: true, autofocus: true %>
              </div>

              <div class="form-label-group mb-3">
                <%= f.label :password %>
                <%= f.password_field :password, class: "form-control form-control-lg", placeholder: "Password", required: true %>
              </div>

              <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Sign in</button>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
